.rectangle_blue {
  height: 45px;
  width: calc(100% - 1px);
  background: #3a88fe;
}
.circle_left_blue {
  width: 25px;
  height: 45px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  background: #3a88fe;
  margin-right: 3px;
}

.circle_right_blue {
  width: 25px;
  height: 45px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  background: #3a88fe;
  margin-left: 3px;
}

.rectangle_tan {
  height: 45px;
  width: calc(100% - 1px);
  background: #ffcc66;
}
.circle_left_tan {
  width: 25px;
  height: 45px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  background: #ffcc66;
  margin-right: 3px;
}

.circle_right_tan {
  width: 25px;
  height: 45px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  background: #ffcc66;
  margin-left: 3px;
}

.lcars-container {
display: flex;
width: calc(100% - 1px);
height: calc(100% - 1px);
overflow: hidden;
margin: 1px;
}

.lcars-elbow-down-right-tan {
position: relative;
width: 9px;
min-width: 9px;
height: 4.5rem;
min-height: 5px;
background: #fc6;
margin: 0;
}