html, body { background: black }
p, h1, h2, h3 {
  margin-top: 1px;
  margin-bottom: 1px;
  color: yellow;
}
div {
  display: block;
}
.weather {
  width: 600px;
  height: 100px;
  display: block;
  background: #aaaaaa;
  align: right;
}
